*.iml
.gradle
/local.properties
.kotlin/errors/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/schemas
.gradle/caches/
.gradle/build-cache/
*.apk
*.aab
*.hprof
*.swp
*~
*.backup
# Android Studio project files
.idea/*
/.idea/assetWizardSettings.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/compiler.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/caches
/.idea/modules
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/deploymentTargetSelector.xml